.app-limited-explanation {
  .mat-expansion-panel {
    margin-top: -1px;

    .mat-expansion-panel-header-description {
      justify-content: center;
    }
  }

  .app-limited-explanation-content {
    display: flex;
    flex-direction: column;
  }

  .mat-caption {
    padding: 8px 0;
  }
}
