<app-layout>
  <app-top>
    <ng-container [formGroup]="input">
      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Draw cards"
               formControlName="draws">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Hits in deck"
               formControlName="hits">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Deck size"
               formControlName="deckSize">
      </mat-form-field>
    </ng-container>
  </app-top>

  <app-middle *ngIf="input.valid && (validInput$ | async)"
              flex>
    <mat-card class="grid-component">
      <div class="mat-h3 app-hypergeometric-calculator-result-column"
           *ngFor="let displayedResult of displayedResults$ | async; let i = index"
           [matTooltip]="displayedResult.titleWithSum + displayedResult.resultWithSum"
           [matTooltipDisabled]="!displayedResult.titleWithSum">
        <span>{{displayedResult.title}}</span>
        <span>{{displayedResult.result}}</span>
      </div>
    </mat-card>
  </app-middle>
</app-layout>
