<app-layout>
  <app-top>
    <ng-container [formGroup]="input">
      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Draw cards"
               formControlName="draws">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Hits in deck"
               formControlName="hits">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               required
               placeholder="Deck size"
               formControlName="deckSize">
      </mat-form-field>
    </ng-container>
  </app-top>

  <app-middle *ngIf="input.valid && (validInput$ | async)"
              flex>
    <mat-card class="grid-component">
      <div class="mat-h3 app-hypergeometric-calculator-result-column"
           *ngFor="let displayedResult of displayedResults$ | async">
        <span>{{displayedResult.titleWithSum}}</span>
        <span>{{displayedResult.resultWithSum}}</span>
      </div>
    </mat-card>

    <mat-card class="grid-component">
      <div class="mat-h3 app-hypergeometric-calculator-result-column"
           *ngFor="let displayedResult of displayedResults$ | async">
        <span>{{displayedResult.title}}</span>
        <span>{{displayedResult.result}}</span>
      </div>
    </mat-card>
  </app-middle>

  <app-right>
    <app-right-info>
      <div>How many hits will Collected Company have in your deck?</div>
      <div>To figure that out, you need a hypergeometric calculator.</div>
    </app-right-info>
  </app-right>
</app-layout>
